body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: 0px !important;
}

.label {
    font-weight: bolder;
    font-size: 120%;
    color: red;
}
.pac-container {
    z-index: 3000 !important;
}
.moment-picker{
    z-index: 3000 !important;
}
.uib-time input{
    width:100% !important;
}
.modal{
    z-index: 4000!important;
}
.required{
    font-weight: bolder;
    font-size:110%;
}
.nowrap {
    white-space:nowrap;
}